@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h4>Add a new restaurant</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId);

  @Html.LabelFor(model => model.Name);
  @Html.TextBoxFor(model => model.Name);

  @Html.LabelFor(model => model.Desc);
  @Html.TextBoxFor(model => model.Desc);

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>